// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#scoreGrid {
  height: 100%;
  width: 100%;
  min-width: 700px;
}

div.ag-theme-alpine {
  div.ag-row, div.ag-header-row {
    font-size: 10px !important;
  }

  div.ag-cell {
    line-height: 30px !important;
  }
}

.summaryLogo {
  height: .8em;
}

.donder-hiroba-logo {
  height: 1.5em;
}

#summary {
  font-size: 30px;
  min-width: 700px;
}
